@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@import "tailwindcss";

@theme {
  /* Define custom variables */
  --radius-custom: 0.5rem;

  /* Map theme colors */
  --color-primary: #f3c614;
  --color-primary-light: #f7d94c;

  /* Define font family */
  --font-sans: "Euclid Circular A", ui-sans-serif, system-ui, sans-serif;
}

@utility container {
  @apply mx-auto px-4 sm:px-8 lg:px-16;
}

/* Base styles are applied directly to elements */
@layer base {
  body {
    @apply bg-[#f9f9f9] text-[#333] font-sans;
  }
}
