---
import Layout from '../layouts/Layout.astro';
import PageHeader from '@/components/PageHeader';
import ContactForm from '@/components/ContactForm';
---

<Layout title="Contact">

	<PageHeader 
		title="Secure storage starts here —let's talk" 
		description="Connect with our team for support or inquiries."
		mobileTitle="Secure storage starts here"
		client:load
	/>

	<section class="bg-[#F8F8F8] py-[70px] border-b border-[#E4E0D4]">
		<div class="container">
			<ContactForm />
		</div>
	</section>

</Layout>
