---
import Layout from "../layouts/Layout.astro";
import PageHeader from "@/components/PageHeader";
import BrandLogos from "@/components/BrandLogos";
import PricingCommunity from "@/components/PricingCommunity";
import PricingCommunityTwo from "@/components/PricingCommunityTwo";

import logos from "@/data/brand-logos";
---

<Layout title="Docs">
  <PageHeader
    title="Transparent, simple pricing for secure file storage"
    description="Pay only for what you need, nothing more."
    mobileTitle="Transparent, simple pricing"
  />

  <section class="bg-white py-[70px] md:py-[130px]">
    <div class="container">
      <div class="flex justify-center items-center">
        <PricingCommunity />
      </div>
    </div>
  </section>

  <section class="bg-white py-[70px] md:py-[130px]">
    <div class="container">
      <div class="flex justify-center items-center">
        <PricingCommunityTwo />
      </div>
    </div>
  </section>

  <BrandLogos logos={logos} logoType="dark" title="Powered & Trusted by" />
</Layout>
